<h1>Products</h1>
<table>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to product.name, product %>
      </td>
      <td>
        <strong>Price:</strong>
        <%= number_to_currency product.price %>
      </td>
    </tr>
  <% end %>
</table>
